.foto{
	color: green

}
.ret{
	color: blue
}
#my{
	text-align: center;
	font-size: 30px;
}
#my-list{
    color: white;
	background-color:gray; 
	border: 1px solid black;
	padding: 10px;
   text-align: center;
   font-size: 20px
}
#list{
border: 1px solid black;
	padding: 10px;
   text-align: center;
   font-size: 20px
}
#list2{
	border: 1px solid black;
	padding: 10px;
   text-align: center;
   font-size: 20px;
   color:red;
}